# Module 1 : Data validation and pre-processing technique

# Speech analysis

In [1]:
import pandas as p

In [2]:
datas = p.read_csv("out5.csv")

In [3]:
datas.head()

,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.06545,0.02211,21.033,1,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.09403,0.01929,19.085,1,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.08270,0.01309,20.651,1,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.08771,0.01353,20.644,1,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.10470,0.01767,19.649,1,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [4]:
#shape
datas.shape

(195, 24)

In [5]:
dfs=datas.dropna()

In [6]:
dfs.head()

,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.06545,0.02211,21.033,1,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.09403,0.01929,19.085,1,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.08270,0.01309,20.651,1,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.08771,0.01353,20.644,1,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.10470,0.01767,19.649,1,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [7]:
#shape
dfs.shape

(195, 24)

In [8]:
#show columns
dfs.columns

Index(['name', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)',
       'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP',
       'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'status', 'RPDE', 'DFA',
       'spread1', 'spread2', 'D2', 'PPE'],
      dtype='object')

In [9]:
#Checking datatype and information about dataset
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              195 non-null    object
 1   MDVP:Fo(Hz)       195 non-null    float64
 2   MDVP:Fhi(Hz)      195 non-null    float64
 3   MDVP:Flo(Hz)      195 non-null    float64
 4   MDVP:Jitter(%)    195 non-null    float64
 5   MDVP:Jitter(Abs)  195 non-null    float64
 6   MDVP:RAP          195 non-null    float64
 7   MDVP:PPQ          195 non-null    float64
 8   Jitter:DDP        195 non-null    float64
 9   MDVP:Shimmer      195 non-null    float64
 10  MDVP:Shimmer(dB)  195 non-null    float64
 11  Shimmer:APQ3      195 non-null    float64
 12  Shimmer:APQ5      195 non-null    float64
 13  MDVP:APQ          195 non-null    float64
 14  Shimmer:DDA       195 non-null    float64
 15  NHR               195 non-null    float64
 16  HNR               195 non-null    float64
 17  status            195 non-null    int64
 18  RPDE              195 non-null    float64
 19  DFA               195 non-null    float64
 20  spread1           195 non-null    float64
 21  spread2           195 non-null    float64
 22  D2                195 non-null    float64
 23  PPE               195 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 38.1+ KB

In [10]:
#Checking for duplicate data
dfs.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Length: 195, dtype: bool

In [11]:
#find sum of duplicate data
sum(dfs.duplicated())

0

In [12]:
#Checking sum of missing values
dfs.isnull().sum()

name                0
MDVP:Fo(Hz)         0
MDVP:Fhi(Hz)        0
MDVP:Flo(Hz)        0
MDVP:Jitter(%)      0
MDVP:Jitter(Abs)    0
MDVP:RAP            0
MDVP:PPQ            0
Jitter:DDP          0
MDVP:Shimmer        0
MDVP:Shimmer(dB)    0
Shimmer:APQ3        0
Shimmer:APQ5        0
MDVP:APQ            0
Shimmer:DDA         0
NHR                 0
HNR                 0
status              0
RPDE                0
DFA                 0
spread1             0
spread2             0
D2                  0
PPE                 0
dtype: int64

In [13]:
dfs['PPE'].value_counts()

0.177807    1
0.160809    1
0.357775    1
0.316700    1
0.274407    1
           ..
0.128872    1
0.112878    1
0.220657    1
0.179677    1
0.156368    1
Name: PPE, Length: 195, dtype: int64

After Pre-Processing:

In [14]:
dfs.columns

Index(['name', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)',
       'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP',
       'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'status', 'RPDE', 'DFA',
       'spread1', 'spread2', 'D2', 'PPE'],
      dtype='object')

In [15]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['name', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)',
       'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP',
       'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'RPDE', 'DFA',
       'spread1', 'spread2', 'D2', 'PPE']
le = LabelEncoder()
for i in var_mod:
    dfs[i] = le.fit_transform(dfs[i]).astype(str)

In [16]:
dfs.head()

,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,0,55,72,15,137,8,104,143,127,153,...,146,130,75,1,44,183,154,139,84,163
1,1,65,66,128,150,9,126,148,150,172,...,170,124,46,1,73,190,180,172,126,183
2,2,43,38,123,155,10,135,152,160,162,...,165,96,69,1,53,194,167,162,92,174
3,3,42,52,122,153,10,131,149,155,166,...,168,100,68,1,58,189,178,170,105,184
4,4,36,61,120,158,12,140,154,165,174,...,176,109,56,1,46,192,184,110,91,188

In [17]:
#To describe the dataframe
dfs.describe()

           status
count  195.000000
mean     0.753846
std      0.431878
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000

# Tremors analysis

In [18]:
datat = p.read_csv("data.csv")

Before drop the given dataset:

In [19]:
datat.head()

,Unnamed: 0,no_strokes_st,no_strokes_dy,speed_st,speed_dy,magnitude_vel_st,magnitude_horz_vel_st,magnitude_vert_vel_st,magnitude_vel_dy,magnitude_horz_vel_dy,...,magnitude_horz_jerk_dy,magnitude_vert_jerk_dy,ncv_st,ncv_dy,nca_st,nca_dy,in_air_stcp,on_surface_st,on_surface_dy,target
0,0,12.0,2.0,0.000293,0.000431,0.061342,0.038319,0.039050,0.084891,0.053885,...,0.000006,0.000006,185.250000,412.857143,61.833333,470.000000,0.0,3678.0,4852.0,1.0
1,1,4.0,6.0,0.000286,0.000281,0.119159,0.077012,0.074216,0.160497,0.101360,...,0.000010,0.000009,192.777778,173.875000,102.500000,54.000000,0.0,1688.0,1587.0,1.0
2,2,4.0,4.0,0.000278,0.000277,0.113889,0.071547,0.073336,0.191965,0.117724,...,0.000023,0.000042,263.571429,136.333333,120.500000,25.200000,0.0,2246.0,1332.0,1.0
3,3,4.0,4.0,0.000286,0.000275,0.154621,0.101146,0.096300,0.152413,0.101235,...,0.000009,0.000005,225.285714,308.400000,59.333333,177.000000,0.0,1775.0,1703.0,1.0
4,4,2.0,2.0,0.000279,0.000270,0.060058,0.039449,0.036737,0.081577,0.052451,...,0.000010,0.000007,226.700000,168.000000,79.500000,43.857143,0.0,4764.0,3335.0,1.0

In [20]:
#shape
datat.shape

(77, 31)

After drop the given dataset:

In [21]:
dft=datat.dropna()

In [22]:
dft.head()

,Unnamed: 0,no_strokes_st,no_strokes_dy,speed_st,speed_dy,magnitude_vel_st,magnitude_horz_vel_st,magnitude_vert_vel_st,magnitude_vel_dy,magnitude_horz_vel_dy,...,magnitude_horz_jerk_dy,magnitude_vert_jerk_dy,ncv_st,ncv_dy,nca_st,nca_dy,in_air_stcp,on_surface_st,on_surface_dy,target
0,0,12.0,2.0,0.000293,0.000431,0.061342,0.038319,0.039050,0.084891,0.053885,...,0.000006,0.000006,185.250000,412.857143,61.833333,470.000000,0.0,3678.0,4852.0,1.0
1,1,4.0,6.0,0.000286,0.000281,0.119159,0.077012,0.074216,0.160497,0.101360,...,0.000010,0.000009,192.777778,173.875000,102.500000,54.000000,0.0,1688.0,1587.0,1.0
2,2,4.0,4.0,0.000278,0.000277,0.113889,0.071547,0.073336,0.191965,0.117724,...,0.000023,0.000042,263.571429,136.333333,120.500000,25.200000,0.0,2246.0,1332.0,1.0
3,3,4.0,4.0,0.000286,0.000275,0.154621,0.101146,0.096300,0.152413,0.101235,...,0.000009,0.000005,225.285714,308.400000,59.333333,177.000000,0.0,1775.0,1703.0,1.0
4,4,2.0,2.0,0.000279,0.000270,0.060058,0.039449,0.036737,0.081577,0.052451,...,0.000010,0.000007,226.700000,168.000000,79.500000,43.857143,0.0,4764.0,3335.0,1.0

In [23]:
#shape
dft.shape

(77, 31)

In [24]:
#shape
dft.columns

Index(['Unnamed: 0', 'no_strokes_st', 'no_strokes_dy', 'speed_st', 'speed_dy',
       'magnitude_vel_st', 'magnitude_horz_vel_st', 'magnitude_vert_vel_st',
       'magnitude_vel_dy', 'magnitude_horz_vel_dy', 'magnitude_vert_vel_dy',
       'magnitude_acc_st', 'magnitude_horz_acc_st', 'magnitude_vert_acc_st',
       'magnitude_acc_dy', 'magnitude_horz_acc_dy', 'magnitude_vert_acc_dy',
       'magnitude_jerk_st', 'magnitude_horz_jerk_st', 'magnitude_vert_jerk_st',
       'magnitude_jerk_dy', 'magnitude_horz_jerk_dy', 'magnitude_vert_jerk_dy',
       'ncv_st', 'ncv_dy', 'nca_st', 'nca_dy', 'in_air_stcp', 'on_surface_st',
       'on_surface_dy', 'target'],
      dtype='object')

In [25]:
#Checking datatype and information about dataset
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              77 non-null     int64
 1   no_strokes_st           77 non-null     float64
 2   no_strokes_dy           77 non-null     float64
 3   speed_st                77 non-null     float64
 4   speed_dy                77 non-null     float64
 5   magnitude_vel_st        77 non-null     float64
 6   magnitude_horz_vel_st   77 non-null     float64
 7   magnitude_vert_vel_st   77 non-null     float64
 8   magnitude_vel_dy        77 non-null     float64
 9   magnitude_horz_vel_dy   77 non-null     float64
 10  magnitude_vert_vel_dy   77 non-null     float64
 11  magnitude_acc_st        77 non-null     float64
 12  magnitude_horz_acc_st   77 non-null     float64
 13  magnitude_vert_acc_st   77 non-null     float64
 14  magnitude_acc_dy        77 non-null     float64
 15  magnitude_horz_acc_dy   77 non-null     float64
 16  magnitude_vert_acc_dy   77 non-null     float64
 17  magnitude_jerk_st       77 non-null     float64
 18  magnitude_horz_jerk_st  77 non-null     float64
 19  magnitude_vert_jerk_st  77 non-null     float64
 20  magnitude_jerk_dy       77 non-null     float64
 21  magnitude_horz_jerk_dy  77 non-null     float64
 22  magnitude_vert_jerk_dy  77 non-null     float64
 23  ncv_st                  77 non-null     float64
 24  ncv_dy                  77 non-null     float64
 25  nca_st                  77 non-null     float64
 26  nca_dy                  77 non-null     float64
 27  in_air_stcp             77 non-null     float64
 28  on_surface_st           77 non-null     float64
 29  on_surface_dy           77 non-null     float64
 30  target                  77 non-null     float64
dtypes: float64(30), int64(1)
memory usage: 19.2 KB

In [26]:
#Checking for duplicate data
dft.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

In [27]:
#find sum of duplicate data
sum(dft.duplicated())

0

In [28]:
#Checking sum of missing values
dft.isnull().sum()

Unnamed: 0                0
no_strokes_st             0
no_strokes_dy             0
speed_st                  0
speed_dy                  0
magnitude_vel_st          0
magnitude_horz_vel_st     0
magnitude_vert_vel_st     0
magnitude_vel_dy          0
magnitude_horz_vel_dy     0
magnitude_vert_vel_dy     0
magnitude_acc_st          0
magnitude_horz_acc_st     0
magnitude_vert_acc_st     0
magnitude_acc_dy          0
magnitude_horz_acc_dy     0
magnitude_vert_acc_dy     0
magnitude_jerk_st         0
magnitude_horz_jerk_st    0
magnitude_vert_jerk_st    0
magnitude_jerk_dy         0
magnitude_horz_jerk_dy    0
magnitude_vert_jerk_dy    0
ncv_st                    0
ncv_dy                    0
nca_st                    0
nca_dy                    0
in_air_stcp               0
on_surface_st             0
on_surface_dy             0
target                    0
dtype: int64

After Pre-Processing:

In [29]:
dft.columns

Index(['Unnamed: 0', 'no_strokes_st', 'no_strokes_dy', 'speed_st', 'speed_dy',
       'magnitude_vel_st', 'magnitude_horz_vel_st', 'magnitude_vert_vel_st',
       'magnitude_vel_dy', 'magnitude_horz_vel_dy', 'magnitude_vert_vel_dy',
       'magnitude_acc_st', 'magnitude_horz_acc_st', 'magnitude_vert_acc_st',
       'magnitude_acc_dy', 'magnitude_horz_acc_dy', 'magnitude_vert_acc_dy',
       'magnitude_jerk_st', 'magnitude_horz_jerk_st', 'magnitude_vert_jerk_st',
       'magnitude_jerk_dy', 'magnitude_horz_jerk_dy', 'magnitude_vert_jerk_dy',
       'ncv_st', 'ncv_dy', 'nca_st', 'nca_dy', 'in_air_stcp', 'on_surface_st',
       'on_surface_dy', 'target'],
      dtype='object')

In [30]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Unnamed: 0', 'no_strokes_st', 'no_strokes_dy', 'speed_st', 'speed_dy',
       'magnitude_vel_st', 'magnitude_horz_vel_st', 'magnitude_vert_vel_st',
       'magnitude_vel_dy', 'magnitude_horz_vel_dy', 'magnitude_vert_vel_dy',
       'magnitude_acc_st', 'magnitude_horz_acc_st', 'magnitude_vert_acc_st',
       'magnitude_acc_dy', 'magnitude_horz_acc_dy', 'magnitude_vert_acc_dy',
       'magnitude_jerk_st', 'magnitude_horz_jerk_st', 'magnitude_vert_jerk_st',
       'magnitude_jerk_dy', 'magnitude_horz_jerk_dy', 'magnitude_vert_jerk_dy',
       'ncv_st', 'ncv_dy', 'nca_st', 'nca_dy', 'in_air_stcp', 'on_surface_st',
       'on_surface_dy']
le = LabelEncoder()
for i in var_mod:
    dft[i] = le.fit_transform(dft[i]).astype(str)

In [31]:
dft.head()

,Unnamed: 0,no_strokes_st,no_strokes_dy,speed_st,speed_dy,magnitude_vel_st,magnitude_horz_vel_st,magnitude_vert_vel_st,magnitude_vel_dy,magnitude_horz_vel_dy,...,magnitude_horz_jerk_dy,magnitude_vert_jerk_dy,ncv_st,ncv_dy,nca_st,nca_dy,in_air_stcp,on_surface_st,on_surface_dy,target
0,0,6,1,34,29,15,13,16,24,22,...,39,43,13,66,23,66,0,54,54,1.0
1,1,2,3,32,28,40,38,42,43,42,...,53,54,15,10,46,19,0,30,29,1.0
2,2,2,2,30,27,39,36,41,48,46,...,63,67,44,5,52,4,0,42,26,1.0
3,3,2,2,33,26,51,51,54,42,41,...,46,36,24,48,22,51,0,32,31,1.0
4,4,1,1,31,25,14,16,14,21,20,...,51,46,26,9,30,14,0,61,50,1.0

In [32]:
#To describe the dataframe
dft.describe()

          target
count  77.000000
mean    0.805195
std     0.398648
min     0.000000
25%     1.000000
50%     1.000000
75%     1.000000
max     1.000000

# Gait analysis

In [33]:
df = p.read_csv("g.csv")

In [34]:
df.head()

,Time(sec),VGRF_left_s1,VGRF_left_s2,VGRF_left_s3,VGRF_left_s4,VGRF_left_s5,VGRF_left_s6,VGRF_left_s7,VGRF_left_s8,VGRF_right_s1,VGRF_right_s2,VGRF_right_s3,VGRF_right_s4,VGRF_right_s5,VGRF_right_s6,VGRF_right_s7,VGRF_right_s8,Total_force_left,Total_force_right,class
0,0.01,0.0,0.0,3.85,0.0,0.0,0.0,0.0,0.0,83.38,71.28,76.78,267.41,70.18,201.63,206.47,181.72,3.85,1158.85,0
1,0.02,0.0,0.0,3.85,0.0,0.0,0.0,0.0,0.0,73.81,64.90,65.89,274.67,70.18,206.36,211.42,186.78,3.85,1154.01,0
2,0.03,0.0,0.0,3.85,0.0,0.0,0.0,0.0,0.0,64.35,56.43,57.20,282.15,70.18,211.09,218.68,191.73,3.85,1151.81,0
3,0.04,0.0,0.0,3.85,0.0,0.0,0.0,0.0,0.0,57.20,50.16,51.26,287.32,70.18,213.40,223.52,199.32,3.85,1152.36,0
4,0.05,0.0,0.0,3.85,0.0,0.0,0.0,0.0,0.0,47.96,43.89,43.67,292.49,67.65,218.13,228.36,204.27,3.85,1146.42,0

In [35]:
df=df.dropna()

In [36]:
df

,Time(sec),VGRF_left_s1,VGRF_left_s2,VGRF_left_s3,VGRF_left_s4,VGRF_left_s5,VGRF_left_s6,VGRF_left_s7,VGRF_left_s8,VGRF_right_s1,VGRF_right_s2,VGRF_right_s3,VGRF_right_s4,VGRF_right_s5,VGRF_right_s6,VGRF_right_s7,VGRF_right_s8,Total_force_left,Total_force_right,class
0,0.0100,0.00,0.00,3.85,0.00,0.00,0.0,0.0,0.0,83.38,71.28,76.78,267.41,70.18,201.63,206.47,181.72,3.85,1158.85,0
1,0.0200,0.00,0.00,3.85,0.00,0.00,0.0,0.0,0.0,73.81,64.90,65.89,274.67,70.18,206.36,211.42,186.78,3.85,1154.01,0
2,0.0300,0.00,0.00,3.85,0.00,0.00,0.0,0.0,0.0,64.35,56.43,57.20,282.15,70.18,211.09,218.68,191.73,3.85,1151.81,0
3,0.0400,0.00,0.00,3.85,0.00,0.00,0.0,0.0,0.0,57.20,50.16,51.26,287.32,70.18,213.40,223.52,199.32,3.85,1152.36,0
4,0.0500,0.00,0.00,3.85,0.00,0.00,0.0,0.0,0.0,47.96,43.89,43.67,292.49,67.65,218.13,228.36,204.27,3.85,1146.42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24231,121.1315,22.77,5.61,3.52,0.00,0.00,0.0,0.0,0.0,23.10,113.85,87.01,149.60,84.70,84.48,172.15,22.99,31.90,737.88,1
24232,121.1415,25.30,7.04,3.52,0.00,0.00,0.0,0.0,0.0,20.79,106.59,79.64,149.60,87.01,86.68,175.45,24.97,35.86,730.73,1
24233,121.1515,27.83,11.22,7.15,0.00,0.00,0.0,0.0,0.0,18.48,101.31,72.27,152.57,87.01,86.68,178.75,24.97,46.20,722.04,1
24234,121.1615,30.36,15.51,10.78,10.45,3.08,0.0,0.0,0.0,18.48,92.29,64.90,152.57,87.01,88.99,181.94,24.97,70.18,711.15,1
24235,121.1715,30.36,18.37,23.32,21.01,3.08,0.0,0.0,0.0,16.17,85.14,57.53,152.57,87.01,91.19,185.24,24.97,96.14,699.82,1

In [37]:
#show columns
df.columns

Index(['Time(sec)', 'VGRF_left_s1', 'VGRF_left_s2', 'VGRF_left_s3',
       'VGRF_left_s4', 'VGRF_left_s5', 'VGRF_left_s6', 'VGRF_left_s7',
       'VGRF_left_s8', 'VGRF_right_s1', 'VGRF_right_s2', 'VGRF_right_s3',
       'VGRF_right_s4', 'VGRF_right_s5', 'VGRF_right_s6', 'VGRF_right_s7',
       'VGRF_right_s8', 'Total_force_left', 'Total_force_right', 'class'],
      dtype='object')

In [38]:
#shape of the dataframe
df.shape

(24236, 20)

In [39]:
#To describe the dataframe
df.describe()

,Time(sec),VGRF_left_s1,VGRF_left_s2,VGRF_left_s3,VGRF_left_s4,VGRF_left_s5,VGRF_left_s6,VGRF_left_s7,VGRF_left_s8,VGRF_right_s1,VGRF_right_s2,VGRF_right_s3,VGRF_right_s4,VGRF_right_s5,VGRF_right_s6,VGRF_right_s7,VGRF_right_s8,Total_force_left,Total_force_right,class
count,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.000000,24236.00000
mean,60.590759,56.707465,65.478571,73.044752,66.682544,15.349067,65.959247,87.502703,41.318435,76.220850,73.718182,67.389633,72.831247,31.167866,46.881309,81.120933,28.679241,472.042783,478.009262,0.50000
std,34.979926,92.379722,81.629155,92.637345,85.957030,17.705880,85.087118,102.758237,50.837185,119.438239,92.778001,81.859470,96.791417,35.107013,63.938393,98.004524,44.093037,424.929177,436.411139,0.50001
min,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,30.297900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.490000,3.960000,0.00000
50%,60.590800,15.180000,12.650000,12.540000,36.740000,6.270000,29.590000,48.290000,22.000000,13.860000,12.540000,9.460000,25.740000,16.940000,12.540000,36.300000,9.570000,473.385000,466.785000,0.50000
75%,90.883600,62.150000,125.620000,130.790000,99.110000,30.140000,104.390000,149.050000,65.120000,97.790000,137.940000,136.510000,116.930000,57.530000,74.690000,142.120000,33.440000,800.277500,770.687500,1.00000
max,121.171500,455.070000,349.250000,408.650000,475.310000,77.880000,370.040000,474.870000,245.850000,559.020000,391.270000,336.710000,455.180000,146.960000,335.720000,390.500000,283.470000,1304.930000,1271.490000,1.00000

In [40]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24236 entries, 0 to 24235
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time(sec)          24236 non-null  float64
 1   VGRF_left_s1       24236 non-null  float64
 2   VGRF_left_s2       24236 non-null  float64
 3   VGRF_left_s3       24236 non-null  float64
 4   VGRF_left_s4       24236 non-null  float64
 5   VGRF_left_s5       24236 non-null  float64
 6   VGRF_left_s6       24236 non-null  float64
 7   VGRF_left_s7       24236 non-null  float64
 8   VGRF_left_s8       24236 non-null  float64
 9   VGRF_right_s1      24236 non-null  float64
 10  VGRF_right_s2      24236 non-null  float64
 11  VGRF_right_s3      24236 non-null  float64
 12  VGRF_right_s4      24236 non-null  float64
 13  VGRF_right_s5      24236 non-null  float64
 14  VGRF_right_s6      24236 non-null  float64
 15  VGRF_right_s7      24236 non-null  float64
 16  VGRF_right_s8      24236 non-null  float64
 17  Total_force_left   24236 non-null  float64
 18  Total_force_right  24236 non-null  float64
 19  class              24236 non-null  int64
dtypes: float64(19), int64(1)
memory usage: 3.9 MB

In [41]:
#Checking for duplicate data
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
24231    False
24232    False
24233    False
24234    False
24235    False
Length: 24236, dtype: bool

In [42]:
#find sum of duplicate data
sum(df.duplicated())

0

In [43]:
p.Categorical(df['Time(sec)']).describe()

            counts     freqs
categories
0.0100           2  0.000083
0.0200           2  0.000083
0.0300           2  0.000083
0.0400           2  0.000083
0.0500           2  0.000083
...            ...       ...
121.1315         2  0.000083
121.1415         2  0.000083
121.1515         2  0.000083
121.1615         2  0.000083
121.1715         2  0.000083

[12118 rows x 2 columns]

In [44]:
df['VGRF_right_s1'].value_counts()

0.00      9993
11.44      416
13.64      298
9.13       282
4.51       278
          ...
536.69       2
541.64       1
559.02       1
549.23       1
554.29       1
Name: VGRF_right_s1, Length: 293, dtype: int64

In [45]:
#Checking minimum or maximum 
print("Minimum value of Total VGRF Right of Patient is:", df.Total_force_right.min())
print("Maximum value of Total VGRF Right of Patient is:", df.Total_force_right.max())

Minimum value of Total VGRF Right of Patient is: 0.0
Maximum value of Total VGRF Right of Patient is: 1271.49

In [46]:
#Checking minimum or maximum 
print("Minimum value of Total VGRF Left of Patient is:", df.Total_force_left.min())
print("Maximum value of Total VGRF Left of Patient is:", df.Total_force_left.max())

Minimum value of Total VGRF Left of Patient is: 0.0
Maximum value of Total VGRF Left of Patient is: 1304.93